<template name="content">
  {{#if currentUser}}
<form role="form">
<div class="form-group">
  <label for="name">Select a subject:</label>
  <select class="form-control">
    <option>BIT101</option>
    <option>BIT201</option>
    <option>BIS201</option>
    <option>BIS205</option>
    <option>BIT301</option>
  </select>
  <br>
  <label for="name">Select a Week:</label>
  <select class="form-control">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
    <option>6</option>
    <option>7</option>
    <option>8</option>
    <option>9</option>
    <option>10</option>
    <option>11</option>
    <option>12</option>
    <option>13</option>
    <option>14</option>
  </select>
  <br>
</div>
{{> studentlist}}
{{> example}}
<button type="button">Save</button>
<div id="render-target"></div>
</form>
{{/if}}
</template>

<template name="studentlist">
  <div class="posts">
    <table class="table table-hover">
  <caption></caption>
  <thead>
    <tr>
      <th>Student Name</th>
      <th>Attendance</th>
      <th>Remarks</th>
    </tr>
  </thead>
  <tbody>
    {{> student}}

  </tbody>
</table>

  </div>
</template>

<template name="example">
    <button type="button" class="takePhoto">Capture Image</button>
    <img class="photo">
</template>

<template name="student">
    {{#each student}}
    <tr>
      <td>{{name}}</td>
      <td><input type="checkbox" value=""></td>
      <td><textarea rows="1"></textarea></td>
    </tr>
    {{/each}}
</template>
