<template name="content">
<form role="form">
<div class="form-group">
  <label for="name">Select a subject:</label>
  <select class="form-control">
    <option>BIT101</option>
    <option>BIT201</option>
    <option>BIS201</option>
    <option>BIS205</option>
    <option>BIT301</option>
  </select>
  <label for="name">Select a Week:</label>
  <select class="form-control">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
    <option>6</option>
    <option>7</option>
    <option>8</option>
    <option>9</option>
    <option>10</option>
    <option>11</option>
    <option>12</option>
    <option>13</option>
    <option>14</option>
  </select>
</div>
<br>

  <br>
  <div class="row">
        <div class="col-md-4"><label for="name">Student List:</label></div>
        <div class="col-md-4">
              <label><input type="file" id="inputfile"></label>
        </div>


     </div>
{{> studentlist}}

{{> example}}
<button type="button">Save</button>
<div id="render-target"></div>
</form>
</template>

<template name="studentlist">
  <div class="posts">
    <table class="table table-hover">
  <caption></caption>
  <thead>
    <tr>
      <th>Student Name</th>
      <th>Attendance</th>
      <th>Remarks</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Ali Metcalfe</td>
      <td><input type="checkbox" value=""></td>
      <td><textarea rows="1"></textarea></td>
    </tr>
    <tr>
      <td>Bernard Hendricks</td>
      <td><input type="checkbox" value=""></td>
      <td><textarea rows="1"></textarea></td>
    </tr>
    <tr>
      <td>Kelsey Mccray</td>
      <td><input type="checkbox" value=""></td>
      <td><textarea rows="1"></textarea></td>
    </tr>
    <tr>
      <td>Findlay Barry</td>
      <td><input type="checkbox" value=""></td>
      <td><textarea rows="1"></textarea></td>
    </tr>
  </tbody>
</table>

  </div>
</template>

<template name="example">
    <button type="button" class="takePhoto">Capture Image</button>
    <img class="photo">
</template>
