<template name="content">
  {{#if currentUser}}
<form role="form" id="aForm">
<div class="form-group">
  <label for="name">Select a subject:</label>
    {{> subject}}
  <br>
  <label for="name">Select a Week:</label>
  <select id="week" name="week" class="form-control">
    <option>Select a week</option>
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
    <option>6</option>
    <option>7</option>
    <option>8</option>
    <option>9</option>
    <option>10</option>
    <option>11</option>
    <option>12</option>
    <option>13</option>
    <option>14</option>
  </select>
  <br>
</div>
{{> readCSV}}
{{> studentlist}}
<input type="submit" value="Activate" class="btn btn-primary btn-lg btn-block activate"/>
<div id="render-target"></div>
</form>
{{/if}}
</template>

<template name="studentlist">
  <div class="posts">
    <table class="table table-hover">
  <caption></caption>
  <thead>
    <tr>
      <th>Student Name</th>
      <th>Student ID</th>
      <th>Remarks</th>
      <th>Attendance</th>
    </tr>
  </thead>
  <tbody>
    {{> student}}
  </tbody>
</table>
  </div>
</template>

<template name="student">
    {{#each student}}
    <tr>
      <td><input type="hidden" name="studentName" value="{{name}}">{{name}}</td>
      <td><input type="hidden" name="studentID" value="{{studentID}}">{{studentID}}</td>
      <td><textarea rows="1" id="remarks" name="remarks" data-id="{{studentID}}"></textarea></td>
      <td><input type="submit" class="btn btn-primary markAttendance"></td>
    </tr>
    {{/each}}
</template>

<template name="subject">
    <select id="dropdown" name="dropdown" class="form-control">
    <option>Please select a subject</option>
    {{#each subject}}
    <option>{{subjectCode}}</option>
    {{/each}}
    </select>
</template>


<template name="readCSV">
    <input type="file" id="csv-file" name="files"/>
    <button type="submit" class="btn btn-primary btnReadCsv">Read</button>
</template>
