<template name="visual">
{{#if currentUser}}
<style type="text/css">
 #container1 {
    width: 100%;
    height: 200%;
    margin: 0;
    padding: 0;
}
</style>
  <form role="form">
  <div class="form-group">
    <label for="name">Select a subject:</label>
    <select class="form-control" id="subjectCode" name="subjectCode">
      {{> getSubject}}
    </select>
    <br>
    <br>
    <div id="container"></div>
  </div>
  </form>
  {{> charts}}
{{/if}}
</template>

<template name="getSubject">
    <option>Select a subject</option>
    {{#each subject}}
    <option>{{subjectCode}}</option>
    {{/each}}
</template>


<template name="charts">
  <div id="chart" style="width:800px; height:500px;">{{createChart}}
  </div>
</template>
